
.modal{
   background-color: rgba(0,0,0, .8);
   width:100%;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10;
   display:none;
   transition: all .5s;
  }

  .modal__content{
   width: 80%;
   height: 65%;
   background-color: transparent;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 2em;
   border-radius: 1em;
   
   transition: all .5s;
  }

  .modal__close{
	  cursor:pointer;
   color: #fff;
   font-size: 2em;
   position: absolute;
   top: 0;
   right: 1em;
  }

.masonry { 
  display: flex;
  flex-flow: row wrap;
  margin-left: -8px; /* Adjustment for the gutter */
  width: 100%;
}
.masonry-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}
.masonry-brick {
  flex: auto;
  height: 350px;
  min-width: 150px;
  margin: 0 3px 6px 3px; /* Some gutter */
  background-size: cover;
  background-position: center;
  cursor:pointer;
}
.masonry-brick:nth-child(4n+1) {
  width: 350px;
}
.masonry-brick:nth-child(4n+2) {
  width: 325px;
}
.masonry-brick:nth-child(4n+3) {
  width: 380px;
}
.masonry-brick:nth-child(4n+4) {
  width: 480px;
}
@media only screen and (max-width:767px){
	.modal__content{
		width: 100%;
		padding: 2em 0;
	}
	.masonry-brick{
		height: 200px;
	}}
